html {
    font-size: min(2.2vh, 16px);
}

.container, .row {
    height: 100%;
}

.slide-footer {
    display: flex;
    position: relative;
    height: 100%;
}

.swipe-right {
    display: flex;
    color: #fff;
    margin-left: auto;
    padding-right: 2rem;
    height: fit-content;
}

.swipe-right p {
    font-size: 1.2rem;
    margin: auto;
    padding-right: .5rem;
}

.swipe-right i {
    font-size: 2rem;
    margin: auto;
}

.skip-button-container {
    height: calc(100% - 1rem);
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
}

.skip-button {
    background-image: url("../img/logo1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 12vh;
    width: 12vh;
    background-color: var(--accent-color);
    border-radius: 50%;
    z-index: 100;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px 10px var(--text-color);
}

.owl-dots {
    position: absolute;
    width: 100%;
    bottom: 15%;
}

#home .owl-dots .owl-dot span {
    height: 2vh;
    width: 2vh;
    background-color: var(--accent-color);
    opacity: .5;
}

#home .owl-dots .owl-dot.active span {
    opacity: 1;
}

/*-------------------------------
             Slide 1 
---------------------------------*/

#slide-1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

#slide-1 .text h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

#slide-1 .text h1 {
    font-weight: 600;
    margin-top: 2.5rem;
}

.slide-1-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--main-bg-color);
    width: calc(100% - 1.5rem);
    border-radius: 0 9rem 9rem 0;
}

#slide-1 .text {
    padding-right: 3rem;
    padding-left: 1.5rem;
    color: #fff;
}

/*-------------------------------
             Slide 2 
---------------------------------*/

#slide-2 {
    height: 100vh;
    width: 100%;
}

#slide-2 .owl-stage-outer {
    height: 100%;
    display: grid;
}

#slide-2 .owl-stage {
    margin-top: auto;
    margin-bottom: auto;
}

.home-img-container {
    height: 40%;
    background: linear-gradient(var(--main-bg-color) 50%, #fff 50%);
    display: flex;
}

.home-img {
    height: 75%;
    margin: auto;
}

.home-img-container img {
    height: 100%;
    box-shadow: 1px 2px 6px var(--main-bg-color);
}

.about {
    padding: 2rem
}

.about h3 {
    font-weight: 600;
}

.about h5 {
    text-transform: none;
}

#slide-2 .swipe-right {
    color: var(--text-color);
}

/*-------------------------------
             Slide 3 
---------------------------------*/

#slide-3 {
    background-color: var(--main-bg-color);
    height: 100vh;
    color: #fff;
}

.gas-container {
    align-self: flex-end;
}

.gas-text {
    padding: 0 2rem
}

.gas-text h3 {
    margin-bottom: 1rem;
    font-weight: 600;
}

.gas {
    display: flex;
    margin-top: 2rem;
}

.gas-type {
    margin: auto;
    text-align: center;
}

.gas-type p {
    font-weight: 600;
}

.gas-type div {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.gas-type h5 {
    margin-bottom: 0;
}

.click-me {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    align-self: flex-end;
}

.click-me p {
    font-size: 1.3rem;
    font-weight: 600;
}

.click-me div {
    text-align: right;
}

.down-arrow {
    margin-left: auto;
    margin-right: 6.5vh;
}

.down-arrow i {
    font-size: 2rem;
}