#login-page {
    background-color: var(--main-bg-color);
}

.skip-logo {
    display: flex;
    margin: 10vh auto 2.5rem auto;
}

img {
    height: 3.5rem;
    width: 3.5rem;
}

h1 {
    color: var(--accent-color);
    margin: auto 0 auto .5rem;
    text-transform: uppercase;
}

.login-signup-container {
    background-color: #fff;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    height: 75%;
}

.login-input-container {
    display: flex;
    margin: 15px 0;
    border-bottom: 1px solid #000;
}

.login-input-container:first-child {
    margin-top: 0;
}

.login-input {
    width: 100%;
}

.login-input input {
    display: block;
    width: 100%;
    padding: .3rem .5rem;
    border: none;
    border-left: 1px solid #000;
}

.login-input-container label {
    margin: 0;
    margin-left: .5rem;
    font-size: .9rem;
}

.login-input-container span {
    font-size: 1.3rem !important;
    margin: auto auto .3rem auto;
    padding: 0 .8rem ;
}

.login-extras {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: .8rem;
}

.checkbox-container {
    width: 50%;
    display: flex;
    margin: 5px auto;
}

.login-extras input {
    margin: auto 5px auto 0;
}

.login-extras p {
    margin-bottom: 0;
}

.login-extras a {
    color: 	#089ec1;
    margin: 5px auto;
}

.login-button {
    width: 100%;
    display: flex;
}

.login-button button {
    width: 85%;
    padding: .6rem 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 1.5rem; */
    border-radius: 2rem;
    border: 2px solid #000;
    box-shadow: 0 0 0 3px var(--accent-color);
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.circle-border-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.circle-border {
    width: 100%;
    display: flex;
    /* margin-top: 1.5rem; */
}

.circle-border:last-child {
    margin-top: .5rem;
    /* margin-bottom: 1.5rem; */
}

.circle-border span {
    color: var(--text-color);
    margin-right: auto;
    margin-left: auto;
    font-size: 8px;
}

.sign-up h5 {
    font-weight: 600;
}

.sign-up-zip {
    width: 35%;
}

.sign-up label {
    font-size: .9rem;
}

.sign-up input {
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    width: 100%;
}

.sign-up button {
    margin-top: auto;
    margin-left: auto;
    padding: 5px 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--accent-color);
    font-weight: 600;
}