form input, form select {
    border-radius: .8rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
    height: 42px;
    width: 100%;
}


/*-------------------------------
             Logo 
---------------------------------*/
#logo {
    background-color: var(--main-bg-color);
}

.skip-logo {
    display: flex;
    margin: 10vh auto 2.5rem auto;
}

img {
    height: 3.5rem;
    width: 3.5rem;
}

h1 {
    color: var(--accent-color);
    margin: auto 0 auto .5rem;
    text-transform: uppercase;
}


/*-------------------------------
             Sign Up  
---------------------------------*/

#sign-up .col-12 {
    background-color: var(--main-bg-color);
    padding: 2rem 3rem;
    border-bottom-right-radius: 2rem;
}

#sign-up h5 {
    color: #fff;   
}

#sign-up form input {
    border: none;
}


/*-------------------------------
             Vehicles
---------------------------------*/

#vehicles {
    position: relative;
}

#vehicles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 3rem;
    background-color: var(--main-bg-color);
    border-bottom-left-radius: 2rem;
    z-index: -10;
}

#vehicles::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    background-color: var(--accent-color);
    z-index: -100;
}


#vehicles-margin {
    margin-left: .8rem;
    border-radius: 2rem 0 2rem 2rem;
    background-color: #fff;
    overflow: hidden;
}

.vehicle {
    padding: 2rem 3rem;
    padding-left: 2.2rem;
}

.vehicle form input, .vehicle form select {
    border: 1px solid var(--text-color)
}

select {
    background-color: #fff;
}

.vehicle-button {
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: #fff;
    border: none;
    padding: 1rem 0;
    display: flex;
}

.vehicle-button h6 {
    font-weight: 600;
    text-transform: uppercase;
}

.vehicle-button span {
    color: #fff;
    margin-right: 1rem;
}


/*-------------------------------
             Payment Method
---------------------------------*/

#payment-method {
    background-color: var(--accent-color);
    padding: 2.5rem 0;
    text-align: center;
    border-radius: 0 0 2rem 2rem;
}

#payment-method h5 {
    color: #fff;
}

.payments {
    display: flex;
    padding-top: 1.5rem;
}

.payment {
    background-color: #fff;
    height: 3.5rem;
    width: 3.5rem;
    margin: auto;
    border-radius: .5rem;
    display: flex;
}

#payment-method i {
    font-size: 2rem;
    margin: auto;
}

#payment-method img {
    height: 2.5rem;
    margin: auto;
}